<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ch55secake.augur</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/augur</string>
		<string>-config</string>
		<string>/etc/augur/config.json</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>StandardOutPath</key>
	<string>/var/log/augur.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/augur.log</string>
</dict>
</plist>
